
services:
  backend:
    build: ./backend
    container_name: clv_backend
    volumes:
      - ./data:/app/data     # <-- FIXED
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: clv_frontend
    volumes:
      - ./data:/app/data
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped


 